<!DOCTYPE html>
<html>
  <body>
    <ul>
      {{range .RepoResults}}
      <li>
        <h1>{{.Package}}</h1>
        <p>
          {{if .Success}}
          <span>Success</span>
          {{else}}
          <span>Failure: </span>
          {{.Error}}
          {{end}}
        </p>
        <p>StdOut: <code>{{.StdOut}}</code></p>
        <p>StdErr: <code>{{.StdErr}}</code></p>
      </li>
      {{ end }}
    </ul>
  </body>
</html>
